<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="vendors/datepicker/daterangepicker.css">

    <!-- Slick -->
    <link rel="stylesheet" href="vendors/slick/slick.css">
    <link rel="stylesheet" href="vendors/slick/slick-theme.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">

    <!-- vue ajax -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>

<body>

<div class="navigation">
	
    <header class="navigation-header">
        <figure class="avatar avatar-state-success">
            <img src="assets/media/image/user/man_avatar3.jpg" class="rounded-circle" alt="image">
        </figure>
        <div>
            <h5>管理员姓名</h5>
            <p class="text-muted">管理员院系</p>
            <ul class="nav">
                <li class="nav-item">
                    <a href="profile.html" class="btn nav-link bg-info-bright" title="Profile" data-toggle="tooltip">
                        <i data-feather="user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn nav-link bg-success-bright" title="Settings" data-toggle="tooltip">
                        <i data-feather="settings"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn nav-link bg-danger-bright" title="Logout" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="navigation-menu-body">
        <ul>
            <li>
                <a href="inbox.html">
                    <i class="nav-link-icon" data-feather="mail"></i>
                    <span>管理员中心</span>
                </a>
            </li>
        </ul>
    </div>
	
</div>

<div id="app">
    <div class="header">
		<h4>管理员中心</h4>
    </div>

    <!-- begin::main-content -->
    <div class="main-content">
        <div class="container">
            <div class="page-header">
                <h4>选课中心</h4>
                <div class="p-2 text-right">
                <button data-toggle="modal" data-target="#insertCourse"
                        @click="current_course = course.courseId"
                        ref="btnSelect" class="btn nav-link bg-success-bright">
                    <i aria-hidden="true"
                    >新建课程</i>
                </button>
                </div>
				
					<div>
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<thead class="thead-light">
								<tr>
                                    <th>课程id</th>
									<th>课程名</th>
									<th>授课教师</th>
									<th>学分</th>
                                    <th>管理操作</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="course in courses">
									<td>{{course.courseId}}</td>
									<td>{{course.courseName}}</td>
                                    <td>{{course.teacherName}}</td>
									<td>{{course.courseScore}}</td>
                                    <td>
                                        <button data-toggle="modal" data-target="#updateCourse"
                                                @click="current_course = course.courseId"
                                                ref="btnSelect" class="btn nav-link bg-success-bright">
                                            <i aria-hidden="true"
                                               >修改课程</i>
                                        </button>
                                        <button ref="btnSelect" class="btn nav-link bg-danger-bright"
                                                @click="deleteCourse(course.courseId)">
                                            <i aria-hidden="true"
                                               >删除课程</i>
                                        </button>
                                    </td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

            </div>
        </div>
    </div>
    <!--模态框-->
    <div class="modal fade" id="updateCourse">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h3 class="modal-title">修改课程</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->

                <div class="modal-body">


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">课程名称</span>
                        </div>
                        <input type="text" v-model="course_name" class="form-control"  name="username">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">课程学分</span>
                        </div>
                        <input type="text" v-model="course_score" class="form-control"  name="username">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">授课教师id</span>
                        </div>
                        <input type="text" v-model="teacher_id" class="form-control"  name="username">
                    </div>

                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="updateCourse(current_course)">
                        保存
                    </button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal" @click="current_course = null">取消</button>
                </div>

            </div>
        </div>
    </div>
<!--新建课程模态框-->
    <div class="modal fade" id="insertCourse">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h3 class="modal-title">新建课程</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->

                <div class="modal-body">


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">课程id</span>
                        </div>
                        <input type="text" v-model="course_id" class="form-control"  name="username">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">课程名称</span>
                        </div>
                        <input type="text" v-model="course_name" class="form-control"  name="username">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">课程学分</span>
                        </div>
                        <input type="text" v-model="course_score" class="form-control"  name="username">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">授课教师id</span>
                        </div>
                        <input type="text" v-model="teacher_id" class="form-control"  name="username">
                    </div>

                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="insertCourse">
                        保存
                    </button>
                    <button type="button" class="btn btn-secondary " data-dismiss="modal" @click="">取消</button>
                </div>

            </div>
        </div>
    </div>
    <!--模态框end-->
</div>








<script>
	var vue = new Vue({
		el:"#app",
		data:{
			courses: {},
            course:{},
            course_id:null,
            course_name:null,
            course_score:null,
            teacher_id:null,
            current_course:null,
			

		},

        mounted: function () {
            this.getAllCourse();
        },

		methods:{
			$:function(id){
				return document.getElementById(id);
			},
			refresh:function(){
				this.$forceUpdate();
			},
			
			getAllCourse:function(){
				axios
						.get('http://localhost:8080//admin_index/getAllCourse')
						.then(response =>{
							//清空课程集合对象
							//this.courses=null;
							//取响应数据赋值给vue对象中的对象
							this.courses=response.data.courses;
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},

			insertCourse:function(){
				const formdata=new FormData();
				formdata.append("course_id",this.course_id);
				formdata.append("course_name",this.course_name);
				formdata.append("course_score",this.course_score);
                formdata.append("teacher_id",this.teacher_id);
				axios
						.post('http://localhost:8080/admin_index/insert',formdata)
						.then(response =>{
							//this.$refs.btnSelect.click();
							alert("新建成功！");
							this.getAllCourse();
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			
			},

            deleteCourse:function(id){
                console.log(id)
                const formdata=new FormData();
                // formdata.append("course_id",this.course_id);
                formdata.append("course_id",id);
                axios
                    .post('http://localhost:8080//admin_index/delete',formdata)
                    .then(response =>{
                        this.$refs.btnSelect.click();
                        alert("删除成功！");
                        this.getAllCourse();
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });

            },

            updateCourse:function(id){
                console.log(id)

                course_id=this.course.courseId;
                const formdata=new FormData();
                formdata.append("course_id",id);
                // formdata.append("course_id",+this.course_id);
                formdata.append("course_name",this.course_name);
                formdata.append("course_score",this.course_score);
                formdata.append("teacher_id",this.teacher_id);
                axios
                    .post('http://localhost:8080/admin_index/course_updation/update',formdata)
                    .then(response =>{
                        this.$refs.btnSelect.click();
                        alert("选课成功！");
                        this.getAllCourse();
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });

            },







        }
	})
</script>




<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="vendors/charts/apex/apexcharts.min.js"></script>

<!-- Circle progress -->
<script src="vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="vendors/charts/peity/jquery.peity.min.js"></script>
<script src="assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="vendors/vmap/jquery.vmap.min.js"></script>
<script src="vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="assets/js/examples/vmap.js"></script>

<!-- Dashboard scripts -->
<script src="assets/js/examples/dashboard.js"></script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<!-- App scripts -->
<script src="assets/js/app.min.js"></script>
</body>
</html>