<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="vendors/datepicker/daterangepicker.css">

    <!-- Slick -->
    <link rel="stylesheet" href="vendors/slick/slick.css">
    <link rel="stylesheet" href="vendors/slick/slick-theme.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">

    <!-- vue ajax -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>

<body>

<div class="navigation">
	
    <header class="navigation-header">
        <figure class="avatar avatar-state-success">
            <img src="assets/media/image/user/man_avatar3.jpg" class="rounded-circle" alt="image">
        </figure>
        <div>
            <h5>学生姓名</h5>
            <p class="text-muted">学生院系</p>
            <ul class="nav">
                <li class="nav-item">
                    <a href="profile.html" class="btn nav-link bg-info-bright" title="Profile" data-toggle="tooltip">
                        <i data-feather="user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn nav-link bg-success-bright" title="Settings" data-toggle="tooltip">
                        <i data-feather="settings"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn nav-link bg-danger-bright" title="Logout" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="navigation-menu-body">
        <ul>
            <li>
                <a href="student_index">
                    <i class="nav-link-icon" data-feather="mail"></i>
                    <span>选课中心</span>
                </a>
            </li>
            <li>
                <a href="student_schedule">
                    <i class="nav-link-icon" data-feather="check-circle"></i>
                    <span>我的课表</span>
                </a>
            </li>
        </ul>
    </div>
	
</div>

<div id="app">
    <div class="header">
		<h4>学生中心</h4>
    </div>

    <!-- begin::main-content -->
    <div class="main-content">
        <div class="container">
            <div class="page-header">
                <h4>选课中心</h4>
				
					<div>
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<thead class="thead-light">
								<tr>
                                    <th>课程id</th>
									<th>课程名</th>
									<th>授课教师</th>
									<th>学分</th>
									<th>选课</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="course in courses">
                                    <td>{{course.courseId}}</td>
									<td>{{course.courseName}}</td>
									<td>{{course.teacherName}}</td>
									<td>{{course.courseScore}}</td>
									<td>
										<button ref="btnSelect" title="just选课" class="btn nav-link bg-success-bright"
                                                @click="insertSc(course.courseId)">
											<i aria-hidden="true">选课</i>
										</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="insertProduct">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h3 class="modal-title">新增产品信息</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->

            <div class="modal-body">


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">产品名称</span>
                    </div>
                    <input type="text" v-model="product.name" class="form-control" id="usr" name="username">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">价格</span>
                    </div>
                    <input type="text" v-model="product.price" class="form-control" id="usr" name="username">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">工厂编号</span>
                    </div>
                    <input type="text" v-model="product.factoryId" class="form-control" id="usr" name="username">
                </div>

            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="insertProduct($event)">
                    保存
                </button>
                <button type="button" class="btn btn-secondary " data-dismiss="modal">取消</button>
            </div>

        </div>
    </div>
</div>
<!--模态框end-->

<script>
	var vue = new Vue({
		el:"#app",
		data:{
			courses: {},
            course:{},

			

		},

        mounted: function () {
            this.getUnSelectedCourse();
        },

		methods:{
			$:function(id){
				return document.getElementById(id);
			},
			refresh:function(){
				this.$forceUpdate();
			},

            getUnSelectedCourse:function(){
				axios
						.get('http://localhost:8080/student_index/course_selection/getUnSelectedCourse')
						.then(response =>{
							//清空课程集合对象
							//this.courses=null;
							//取响应数据赋值给vue对象中的对象
							this.courses=response.data.courses;
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			},

			insertSc:function(id){
				const formdata=new FormData();
				formdata.append("course_id",id);
				// formdata.append("teacherName",teacherName);
				axios
						.post('http://localhost:8080/student_index/course_selection/insert',formdata)
						.then(response =>{
							//this.$refs.btnSelect.click();
							alert("选课成功！");
							this.getUnSelectedCourse();
						})
						.catch(function (error) { // 请求失败处理
							console.log(error);
						});
			
			},



        }
	})
</script>




<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- Chartjs -->
<script src="vendors/charts/chartjs/chart.min.js"></script>

<!-- Apex chart -->
<script src="vendors/charts/apex/apexcharts.min.js"></script>

<!-- Circle progress -->
<script src="vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="vendors/charts/peity/jquery.peity.min.js"></script>
<script src="assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="vendors/vmap/jquery.vmap.min.js"></script>
<script src="vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="assets/js/examples/vmap.js"></script>

<!-- Dashboard scripts -->
<script src="assets/js/examples/dashboard.js"></script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<!-- App scripts -->
<script src="assets/js/app.min.js"></script>
</body>
</html>